<h1>Добавити курс</h1>

<form action="/add" method="POST">
    <div class="input-field col s6">
        <input name="title" id="title" type="text" class="validate" required>
        <label for="title">Назва курсу</label>
        <span class="helper-text" data-error="Введіть назву курсу"></span>
    </div>

    <div class="input-field col s6">
        <input name="price" id="price" type="number" class="validate" required min="1">
        <label for="price">Ціна курсу</label>
        <span class="helper-text" data-error="Введіть ціну курсу"></span>
    </div>

    <div class="input-field col s6">
        <input name="img" id="img" type="text" class="validate" required>
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введіть URL картинки"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Добавити курс</button>
</form>